<p style="color: green"><%= notice %></p>

<%= render @tarea %>

<div>
  <%= link_to "Editar tarea", edit_tarea_path(@tarea) %> |
  <%= link_to "Volver al libro de tareas", tareas_path %>

  <%= button_to "Eliminar esta Tarea", @tarea, method: :delete %>
</div>
